/* configuration to be an element
*/
#animatedShape{
    background-color: salmon;
    margin: 20px;
    width: 500px;
    height: 500px;
    /*sub properties for the animation*/
    animation-name: colorChangeBoxAlt;
    animation-duration: 50ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*define the animation sequence*/
@keyframes colorChangeBox{
    from {background-color: salmon;}
    to {background-color:chartreuse;}
}

@keyframes colorChangeBoxAlt{
    0% {background-color: black; transform: rotate(0deg) skew(100deg);}
    25%{background-color:salmon;}
    50% {transform: rotate(180deg) skew(56000deg);}
    75% {background-color:chartreuse; }
    100% {background-color: black; transform: rotate(360deg) skew(10deg);}
}

/*step 1:
Config an alement to be animated property whitch sets name, duration, iteration, and timing function in one line
*/

#animatedEmoji{
    font-size: 1in;
    /*background-color: salmon;*/
    transform: skew(15deg);

    animation: moveEmoji 5s infinite linear;
    /*display: inline-block;*/
    position: absolute;
    top: 150px;
    left: 220px;
}

/*step 2:
Define an amimation using keyfraims
*/

@keyframes moveEmoji{
    0% {opacity: 1;}
    25% {transform: translate(-1000px, 0px); opacity: 1;}
    50% {transform: translate(-1100px, 0px); opacity: 0;}
    75% {transform: translate(1000px); opacity: 0;}
    100% { opacity: 1;}
}

.box {
    background-color: fuchsia;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/*  transform is a property that takes the functinal vlaue like f(x) to change an element*/

#rotate {
    transform: rotate(67deg);
}

#scale {
    transform: scale(0.7);
}

#skew {
    transform: skew(40deg, 4deg);
}


/*
translate (x) moves element horizontaly
translats (x, y) moves diagninally
*/

#translate {
    transform: translate(50px, 40px);
}

#chain {
    transform: scale(1.4) skew(-30deg, 10deg) translate(50px, 40px);
}