.box {
    background-color: fuchsia;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/*  transform is a property that takes the functinal vlaue like f(x) to change an element*/

#rotate {
    transform: rotate(67deg);
}

#scale {
    transform: scale(0.7);
}

#skew {
    transform: skew(40deg, 4deg);
}


/*
translate (x) moves element horizontaly
translats (x, y) moves diagninally
*/

#translate {
    transform: translate(50px, 40px);
}

#chain {
    transform: scale(1.4) skew(-30deg, 10deg) translate(50px, 40px);
}