/* configuration to be an element
*/
#animatedShape{
    background-color: salmon;
    margin: 20px;
    width: 200px;
    height: 200px;
    /*sub properties for the animation*/
    animation-name: colorChangeBoxAlt;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*define the animation sequence*/
@keyframes colorChangeBox{
    from {background-color: salmon;}
    to {background-color:chartreuse;}
}

@keyframes colorChangeBoxAlt{
    0% {background-color: black; transform: rotate(200deg) skew(8000deg);}
    25%{background-color:salmon;}
    75% {background-color:chartreuse; }
    100% {background-color: black;}
}

#animatedEmoji{
    font-size: 1in;
    /*background-color: salmon;*/
    transform: skew(15deg);
}



.box {
    background-color: fuchsia;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/*  transform is a property that takes the functinal vlaue like f(x) to change an element*/

#rotate {
    transform: rotate(67deg);
}

#scale {
    transform: scale(0.7);
}

#skew {
    transform: skew(40deg, 4deg);
}


/*
translate (x) moves element horizontaly
translats (x, y) moves diagninally
*/

#translate {
    transform: translate(50px, 40px);
}

#chain {
    transform: scale(1.4) skew(-30deg, 10deg) translate(50px, 40px);
}